<h1>SIGN IN</h1>

<form action="<%=new_sessions_url%>" method="post">
<br>
<label>USERNAME
  <input type="text" name="user[username]">
</label>
<br>
<label>PASSWORD
  <input type="password" name="user[password]">
</label>

<input type="submit" name="" value="submit Button">

</form>
