<h1>NEW GOALS?</h1>

<form action="<%=goals_url%>" method="post">
<br>
<label>TITLE
  <input type="text" name="goal[title]">
</label>
<br>
<label>BODY
  <textarea name="goal[body]" rows="8" cols="80"></textarea>
</label>
<label>Reached YOUR GOAL?
  <input type="radio" name="goal[reached]" value="True">T
  <input type="radio" name="goal[reached]" value="False">F
  </label>
<input type="submit" name="" value="submit!">

</form>
